<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dungtran.alarmclock">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".notification.AppNotification"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmClock">
        <activity
            android:name=".ui.RingActivity"
            android:label="@string/title_activity_ring"
            android:theme="@style/Theme.AlarmClock.NoActionBar"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AlarmClock.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.CountDownService" />
        <service android:name=".service.AlarmService"/>
        <service android:name=".service.RescheduleAlarmService"/>
        <receiver android:name=".broadcastreceiver.NotificationReceive" />
        <receiver android:name=".broadcastreceiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>